body{
	margin: 0 20px 20px;
}
*{
	box-sizing: border-box;
}
.example{
	margin-top: 20px;
	border: 1px solid brown;
}
.example__title{
	padding: 20px;
	font-size: 140%;
	border-bottom: 1px solid brown;
}
.example__body{
	width: 100%;
	display: flex;
	padding: 20px;
}
.example__btn{
	text-align: left;
	cursor: pointer;
	display: block;
	width: 100%;
	white-space: pre;
	font-family: monospace;
}
.example__area{
	padding: 20px;
	width: 100%;
}
.block{
	border: 1px solid darksalmon;
	margin-top: 20px;
	padding: 20px;
	white-space: nowrap;
	position: relative;
	min-width: 450px;
}
.block_oth{
	border: 1px solid slateblue;
}
.block:before, .block_oth:after{
	position: absolute;
	padding: 5px;
	top: -10px;
	background: #fff;
}
.block:before{
	left: 5px;
	content: attr(class);
	border: 1px solid darksalmon;
}
.block_oth:before{
	border: 1px solid slateblue;
}
.block_oth:after{
	right: 5px;
	content: "index = " attr( data-index );
	border: 1px solid slateblue;
}
.block__element{
	border: 1px solid lightgreen;
	padding: 20px;
	margin-top: 20px;
	position: relative;
}
.block__element:before{
	position: absolute;
	top: -10px;
	left: 5px;
	padding: 5px;
	content: attr( class );
	background: #fff;
	border: 1px solid lightgreen;
}
.active{
	border-width: 5px;
}
.active2{
	background: red;
}
.active3{
	font-weight: bold;
}
.index{
	margin-top: 20px;
	display: block;
}