/app/
/coverage/
/.idea/
/examples/build/
/examples/node_modules/
/examples/package-lock.json
/node_modules/
/package-lock.json
/packages/boilerplate/node_modules
/packages/boilerplate/package-lock.json
/packages/bootstrap/node_modules
/packages/bootstrap/package-lock.json
/packages/core/node_modules
/packages/core/package-lock.json
/packages/examples/node_modules
/packages/examples/package-lock.json
/packages/log/node_modules
/packages/log/package-lock.json
/packages/test/node_modules
/packages/test/package-lock.json
/packages/widget/node_modules
/packages/widget/package-lock.json
/lerna-debug.log